<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
    <title>studyApp</title>
</head>

<body>
    <header>
        <h1>발표 도우미</h1>
    </header>
    <main>
        <div> <a href="/rooms/create"><button>스터디 방 만들기</button></a></div>
        <div> <a href="insertInviteCode"><button>기존 스터디 방 입장</button></a></div>
        <div> </div><button>닉네임으로 피드백 검색</button>
    </main>
</body>
</html>